<section id="log_in">
<%= flash[:error] %>
<%= form_tag login_url, class: "login_form" do %>
  <div class="form_field">
    <%= label_tag :name, 'User name:' %>
    <%= text_field_tag :name %>
  </div>
  <div class="form_field">
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password %>
  </div>
  <div class="form_action">
    <%= submit_tag 'Log in', class: "button" %>
  </div>
<% end %>
</section>
<small><%= link_to 'Sign up', new_users_url, class: "nav_link", id: "sign_up" %></small>
