<header id="login_header">
<h1>Make a Post - login</h1>
</header>
<section id="login_section">
<%= flash[:error] %>
<%= form_tag login_url, id: "login_form" do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag 'login' %>
<% end %>
<%= link_to "Sign up", new_users_url %>
</section>
