<section id="log_in">
<%= flash[:error] %>
<%= form_tag login_url, id: "login_form" do %>
  name<%= label_tag :name; text_field_tag :name %>
  password<%= label_tag :password; password_field_tag :password %>
  <%= submit_tag 'login' %>
<% end %>
<%= link_to "Sign up", new_users_url, :class => "signup_link" %>
</section>
