<section id="log_in">
<%= flash[:error] %>
<%= form_tag login_url, :class => "two_column_form" do %>
  <div class="form_field">
    <%= label_tag :name, 'name' %>
    <%= text_field_tag :name %>
  </div>
  <div class="form_field">
    <%= label_tag :password, 'password' %>
    <%= password_field_tag :password %>
  </div>
  <div class="form_action">
    <%= submit_tag 'login' %>
    <%= link_to 'sign up', new_users_url %>
  </div>
<% end %>
</section>
