<%= form_for user, :html => { :class => "two_column_form", :multipart => true } do |f| %>
  <div class="form_field" %>
    <%= f.label :title, 'title' %>
    <%= f.text_field :title %>
  </div>
  <div class="form_field" %>
    <%= f.label :avatar, 'avatar' %>
    <%= f.file_field :avatar %>
  </div>
  <div class="form_action" %>
    <%= f.submit "Save preferences" %>
  </div>
<% end %>
