<header id="new_user_header">
<h1>create account</h1>
</header>
<section id="new_user_section">
<div class='errors'>
  <% @user.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
</div>
<%= form_for @user, :html => { :multipart => true } do |f| %>
  email<%= f.label :email; f.text_field :email %>
  name<%= f.label :name; f.text_field :name %>
  password<%= f.label :password; f.password_field :password %>
  password confirmation<%= f.label :password_confirmation; f.password_field :password_confirmation %>
  avatar<%= f.label :avatar; f.file_field :avatar %>
  <%= f.submit 'submit' %>
<% end %>
</section>
