<div class="post clearfix" id=<%= post.id %>>
  <div class="avatar">
    <%= image_tag post.user.avatar.url(:thumb) %>
  </div>

  <div class="post_info">
    <div class="user_name">
      <%= post.user.name %>
    </div>

    <div class="user_title" %>
      <%= post.user.title %>
    </div>

    <div class="links" %>
      <%= link_to post.id, posts_path( :page => params[:page], :anchor => post ) %>
      <%= link_to 'edit', edit_post_path(post) %>
    </div>
  </div>
  <div class="post_content">
    <%= sanitize Kramdown::Document.new( Rinku.auto_link(post.content) ).to_html %>
  </div>
</div>
