<div class="post clearfix" id=<%= post.id %>>
  <div class="avatar">
    <%= image_tag post.user.avatar.url(:thumb) %>
  </div>

  <div class="user_info">
    <div class="user_name">
      <%= post.user.name %>
    </div>

    <div class="user_title" %>
      <%= post.user.title %>
    </div>

    <div class="user_status" %>
      <%= post.id %>
    </div>
  </div>
  <div class="post_content">
    <%= Kramdown::Document.new( post.content ).to_html.html_safe %>
  </div>
</div>
