<div class="post clearfix" id=<%= post.id %>>
  <div class="avatar">
    <%= image_tag post.user.avatar.url(:thumb) %>
  </div>

  <div class="user_info">
    <div class="user_name">
      <%= post.user.name %>
    </div>

    <div class="user_title" %>
      <%= post.user.title %>
    </div>

    <div class="user_status" %>
      <%= link_to post.id, post %>
    </div>
  </div>
  <div class="post_content">
    <%= sanitize Kramdown::Document.new( Rinku.auto_link(post.content) ).to_html %>
  </div>
</div>
