<header>
  <%= link_to "Settings", edit_users_url, id: "settings" %>
  <%= link_to "Sign out", login_url, method: :delete, id: "logout" %>
  <hgroup>
    <h1><%= link_to "Make a Post", posts_path %></h1>
    <h2>( <%= link_to "Newest Post", posts_path( page: @posts.num_pages, anchor: @posts.last )%> )</h2>
  </hgroup>
</header>
<hr />

<%= link_to "Add Reply", "whateverthenewpostrouteis", class: "add-reply" %>
<%= paginate @posts %>

<section id="posts">
  <%= render @posts %>
</section>

<%= link_to "Add Reply", "whateverthenewpostrouteis", class: "add-reply" %>
<%= paginate @posts %>
<hr />

<div id="quick-reply">
  <h1>Quick Reply</h1>
  <%= render partial: "edit" %>
</div>
