<!DOCTYPE html>
<html>
<head>
  <title>GLMP</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="forum_page">
    <%= yield %>
  </section>
  <%= link_to "logout", login_url, method: delete, class: "logout" %>
</body>
</html>
